<%= form_for @product do |f| %>
	
	<%= f.text_field :name, class: "form-control", placeholder: "Product Name", autofocus: true %> 
	
	<br/>

	<%= f.text_field :description, class: "form-control", placeholder: "Product Description" %>

	<br/>

	<div class="form-horizontal">
		<%= f.label "Inventory", class: "col-sm-2" %>
		<%= f.number_field :quantity, class: "form-control col-sm-2", placeholder: 10 %>
	</div>

	<br/>
	<br/>

	<div class="form-horizontal">
		<%= f.label :price, class: "col-sm-2" %>
		<%= f.number_field :price, class: "form-control col-sm-2", placeholder: 10.00, step: 0.01 %>
		<br/>
	</div>

	<div class="form-group">
		<%= f.select(:category_id, @categories.collect {|c| [c.name, c.id]}, {include_blank: "Please Select a Category"}) %>
	</div>

	<div class="form-group">
		<strong>Upload Product Image: </strong>
		<%= f.file_field :image %>
	</div>

	<%= f.submit %>
<% end %>